body {
  padding-top: 20px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 15%;
  border-radius: 10px;
  border: 1px solid white;
}

.title {
  margin: 10px 0px;
}

.desc {
  text-align: justify;
  line-height: 30px;
  font-size: 20px;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  font-weight: bold;
  margin: 20px 0px;
}

.details-container a{
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  color: white;
  margin: 0px 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.details-container a:hover {
  background-color: white;
  color: black;
}

@media (max-width: 725px) {
  .details-container {
    flex-direction: column;
    width: 100%;
  }

  .details-container a {
    display: block; /* Make anchor tags stack vertically */
    width: 100%; /* Make them take up the full width */
    text-align: center; /* Center the text inside the anchor tags */
    margin: 5px 0; /* Add vertical spacing between the buttons */
    box-sizing: border-box; /* Include padding and border in width/height calculations */
    padding: 10px; /* Ensure consistent padding */
  }

  .desc {
    padding: 10px;
    text-align: start;
  }

  .title {
    text-align: center;
  }
}
